<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>Welcome to the Four Seasons Museum</h1>
    </header>
    <nav>
      <a href='/'>Home</a>
    </nav>
    <main>
      <aside>
        <h2>Enjoy the galleries!</h2>
      </aside>
      <div class='gallery'>
        {{{body}}}
      </div>
    </main>
    <script src='/scripts.js'></script>
  </body>
</html>

// to save