<form>
  <input id='identification' placeholder='Enter Login' value='identification' />
  <label for='password'>Password</label>
  <input
    id='password'
    placeholder='Enter Password'
    type='password'
    value='password'
  />
  <button type='submit'>Login</button>
</form>
<script src='/js/login.js'></script>
<!--not sure about this one111 -->