<html>
  <head>
    <title>Product Details</title>
    <link rel='stylesheet' href='/styles.css' />
  </head>
  <body>
    <header>
      <!-- Header content -->
    </header>

    <main>
      <h1>Product Details</h1>

      <div class='product-details'>
        <h2>{{product.name}}</h2>
        <img
          src='{{product.imagePath}}'
          alt='{{product.name}}'
          class='product-image'
        />
        <p>Price: ${{product.price}}</p>
      </div>
    </main>
    <img
      src='/image/FunkoFever.png'
      alt='FunkoFever Logo'
      class='logo-image'
      id='login-logo'
    />
    <a href='/'>Home</a>
    <footer>

    </footer>
  </body>
</html>