<!DOCTYPE html>
<html>
<head>
  <title>Search Results</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <!-- Header content -->
  </header>

  <main>
    <h1>Search Results</h1>
    
    <div class="search-results">
      {{#each results}}
        <div class="product-details">
          <h2>{{name}}</h2>
          <img src="{{imagePath}}" alt="{{name}}" class="product-image">
          <p>Price: ${{price}}</p>
        </div>
      {{/each}}
    </div>
  </main>

  <footer>
    
  </footer>
</body>
</html>
